doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title= YAWA
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css')
        link(rel='stylesheet' href='/css/app.css?v=' + server_started)
        link#favicon(rel='shortcut icon' href='/favicon.ico')

    body
        div.wrapper.container-fluid
            div#content
                nav#toptoptop.navbar.navbar-expand-lg.m-0.p-0
                    a#yawaheader.navbar-brand.override(href='/')
                        img#headericon.d-inline-block(src='/img/icons/day_clear.svg' alt='Refresh: Yet Another Weather App' height='24px')
                        div.d-none.d-md-inline-block.text-dark &nbsp;YAWA
                    ul.navbar-nav.mr-auto
                    ul.navbar-nav
                        li#currentTime.d-none
                    ul.navbar-nav.mr-auto
                    ul.navbar-nav
                        li
                            span#location-clicker
                                i#geolocation.bi.bi-geo-alt.btn.btn-primary.btn-small 
                            input#location(readonly=false, style='width: 300px;')
            div#weather-content
                block content
            div#status
div#noactivity.collapse
    i.bi.bi-slash-circle 
    i.bi.bi-filter
    i No activity found with current filter(s).
div.collapse
    div#spinner
        div.lds-ring
            div
            div
            div
            div
div#loading-zone
script
    | var start_time = Date.now()

script(defer src='/js/jquery-3.4.1.min.js')
script(defer src='/js/jquery.autocomplete-v1.4.11.min.js')

script(defer src='/js/popper-1.14.7.min.js')
script(defer src='/js/bootstrap-4.3.1.min.js')
script(defer src='/js/history-4.10.1.js')
script(defer src='/js/reconnecting-websocket.js')
script(defer data-server_start=server_started src='/js/app.js?v=' + server_started)

// Google tag (gtag.js)
script(async, src='https://www.googletagmanager.com/gtag/js?id=G-8QMMRGL7X6')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-8QMMRGL7X6');
