include mixins.pug

h4 Hourly
div.maxwidth
	div.d-inline-flex.flex-row.flex-nowrap
		-var index = 0
		each weather in json.weather.hourly
			-index = index + 1
			if index <= 25
				+weather_card(weather, 'hourly', json.conversion, index)
h4 Daily
div.maxwidth
	div.d-inline-flex.flex-row.flex-nowrap
		-var index = 0
		each weather in json.weather.daily
			-index = index + 1
			+weather_card(weather, 'daily', json.conversion, index)
div#locationhidden.d-none= json.location
div#timezone.d-none= json.weather.timezone