include mixins.pug

h4 Hourly
div.maxwidth
	div.d-inline-flex.flex-row.flex-nowrap
		-var index = 0
		each w in weather.hourly
			-index = index + 1
			+weather_card(w, 'hourly', conversion, index)
h4 Daily
div.maxwidth
	div.d-inline-flex.flex-row.flex-nowrap
		-var index = 0
		each w in weather.daily
			-index = index + 1
			+weather_card(w, 'daily', conversion, index)
div#locationhidden.d-none= location
div#timezone.d-none= weather.timezone