* {
	margin: 0;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		filter: invert(1);
	}

	img {
		filter:  invert(1);
	}
}

#weather-content {
	overflow-x: auto;
}

#weather-content::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}


#weather-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(104, 140, 240, 0.3);
  }

#weather-content::-webkit-scrollbar-thumb {
    background-color: #00ADEE;
    outline: 1px solid slategrey;
}

.maxwidth {
	width:  100%;
	max-width:  100%;
}

.card-body {
	font-size: 135%;
}

#location-clicker i {
	padding: 0.1em;
	margin-right: 0.5em;
}

.figure-img {
	height: 206px;
	width:  206px;
}

.night {
	filter: grayscale(100%);
}

.shrink {
	width: 80%;
	height: 80%;
	margin: 8.5%;
}

.autocomplete-suggestions { border: 1px solid #ccc; background: #fff; overflow: auto; cursor: default;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: #ccc; }
.autocomplete-suggestions strong { font-weight: normal; color: black; }
.autocomplete-group { padding: 2px 5px; text-transform: capitalize; font-weight: bold; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }