* {
	margin: 0;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		filter: invert(1);
	}

	img {
		filter:  invert(1);
	}
}

body {
	overflow-x: scroll;
	overflow-y: scroll;
}

.maxwidth {
	width:  100%;
	max-width:  100%;
}

.card-body {
	font-size: 135%;
}

#location-clicker i {
	padding: 0.1em;
	margin-right: 0.5em;
}

.autocomplete-suggestions { border: 1px solid #ccc; background: #fff; overflow: auto; cursor: default;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: #ccc; }
.autocomplete-suggestions strong { font-weight: normal; color: black; }
.autocomplete-group { padding: 2px 5px; text-transform: capitalize; font-weight: bold; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }